@font-face {
  font-family: PremierSans-Light;
  src: url(/fonts/PremierLeagueW01-light.woff?cf10a370f0cf1b01d1a14590a649721d);
}
@font-face {
  font-family: PremierSans-Regular;
  src: url(/fonts/PremierLeagueW01-Regular.woff?51b559f97ddcbe2aa1e5a4469c4e9827);
}
@font-face {
  font-family: PremierSans-Bold;
  src: url(/fonts/PremierLeagueW01-Bold.woff?e07e8ec7a779a8f4cdc0d98f07fc8a99);
}
@font-face {
  font-family: "champions";
  src: url(/fonts/champions-bold-webfont.woff?10b9865f9d1f491fec882ee8758058a6) format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "champions";
  src: url(/fonts/champions-light-webfont.woff?3e87642c51a196cc349c038894e8db83);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "champions";
  src: url(/fonts/champions-regular-webfont.woff?40032bdb75dd1069898359275221a0d3);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "laligaBold";
  src: url(/fonts/laligaBold.ttf?0e024d0ee78669d437b25a5cf875d7ca);
}
@font-face {
  font-family: "laliga";
  src: url(/fonts/laliga.ttf?403f49d3a68c1240a81c49ef372586c4);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  color: white;
  font-family: "pl";
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: red;
  -webkit-clip-path: inset(0 24% 19% 19% round 0 0 20px 20px);
          clip-path: inset(0 24% 19% 19% round 0 0 20px 20px);
}
.inner .content {
  position: absolute;
  left: 19%;
  right: 24%;
  height: 81vh;
  background: #00ff85;
}

.table {
  font-size: 20px;
  width: 100%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.table .beforeTab {
  width: 80%;
  height: 90vh;
}
.table table {
  border-collapse: collapse;
  width: 100%;
  display: table;
}
.table table caption {
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  vertical-align: center;
  height: 40px;
}
.table table tr {
  height: 40px;
}
.table table th {
  padding: 0 10px;
  font-size: 18px;
  font-weight: 100;
}
.table table td {
  font-weight: 200;
}
.table table tr:last-child th,
.table table tr:last-child td {
  border: none;
}

@-webkit-keyframes sliderToLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes sliderToLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes sliderToRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(120%);
  }
}
@keyframes sliderToRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(120%);
  }
}
.plTab {
  font-family: PremierSans-Light;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.laligaTap {
  font-family: laliga;
}

.championsTab {
  font-family: champions;
}

.groups {
  font-family: "champions";
  background-position: top;
  background-size: cover;
  font-size: 18px;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.groups h2 {
  height: 20px;
  font-weight: bold;
}
.groups table {
  background-color: rgba(4, 10, 45, 0.4);
  width: 100%;
  height: 15vh;
}
.groups table caption {
  text-align: start;
  padding: 1%;
  font-weight: 700;
}
.groups table tbody {
  position: relative;
}
.groups table tbody::before {
  content: "";
  position: absolute;
  top: -2%;
  left: 0%;
  bottom: 100%;
  right: 0%;
  background: rgb(19, 42, 210);
  background: linear-gradient(90deg, rgb(19, 42, 210) 0%, rgb(72, 163, 246) 51%, rgb(129, 242, 255) 100%);
}
.groups table th,
.groups table td {
  padding: 5px 0;
}

.groupsTable {
  width: 80%;
  height: 90vh;
}

.container {
  background: url(/images/championsleagueBack.png?2106cc69fbe3f89312ac71f18b4da4e1);
  background: url(/images/premierleagueBack.jpg?7f5875ec6909d14ce3d8df530046d233);
  transition: 1s all ease;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 20% 100%, 20% 0, 75% 0, 75% 80%, 20% 80%, 20% 100%, 100% 100%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 100%, 20% 100%, 20% 0, 75% 0, 75% 80%, 20% 80%, 20% 100%, 100% 100%, 100% 0%);
  shape-outside: polygon(20% 0%, 20% 75%, 80% 75%, 80% 0%);
  shape-margin: 20%;
  display: grid;
  grid-template-columns: 19% auto 24%;
  grid-template-rows: 81% 19%;
}

.tables {
  grid-column: 3/4;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
  width: 100%;
}

.premierleague {
  font-family: "PremierSans-Regular";
}
.premierleague .beforeTab {
  position: relative;
}
.premierleague h2 {
  font-family: "PremierSans-bold";
  padding: 10px 0;
  text-align: center;
}
.premierleague .plLine {
  z-index: 2;
  content: "";
  position: absolute;
  top: 0;
  left: -0.5%;
  bottom: 0;
  right: 99%;
  background: rgb(138, 72, 255);
  background: linear-gradient(0deg, rgb(138, 72, 255) 0%, rgb(109, 111, 255) 25%, rgb(0, 240, 251) 100%);
}
.premierleague table {
  background: rgb(61, 6, 73);
  background: linear-gradient(22deg, rgb(61, 6, 73) 0%, rgb(86, 21, 125) 36%, rgb(138, 53, 234) 100%);
  box-shadow: 0px -1px 10px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 98%;
  -webkit-animation-name: Silde;
          animation-name: Silde;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.premierleague table tr {
  position: relative;
  z-index: 0;
  cursor: pointer;
}
.premierleague table tr:nth-child(2n) {
  box-shadow: 10px 0px 24px 0px rgba(0, 0, 0, 0.25) inset;
}
.premierleague table tr::after {
  background: #00f0fb;
  z-index: -1;
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s ease all;
}
.premierleague table tr:hover::after {
  top: 0%;
}

.laliga h2 {
  font-family: "laligaBold";
  padding: 10px 0;
  text-align: center;
}
.laliga tbody {
  font-family: "laliga";
  background-color: #091d28;
  font-weight: 100 !important;
  position: relative;
  z-index: 0;
}
.laliga tbody::after {
  background: #103f53;
  z-index: -1;
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation-name: SlideDown;
          animation-name: SlideDown;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.laliga tr {
  position: relative;
  z-index: 0;
  cursor: pointer;
  transition: 0.3s ease all;
}
.laliga tr::after {
  background: #103f53;
  z-index: -1;
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s ease all;
}
.laliga tr:hover::after {
  top: 0%;
  background-color: rgb(254, 249, 206);
}
.laliga tr:hover {
  color: #103f53;
}
.laliga tr th,
.laliga tr td {
  border-bottom: 0.5px #103f53 solid;
}

@-webkit-keyframes Silde {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes Silde {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes SlideDown {
  0% {
    background-color: rgb(254, 249, 206);
    top: 0%;
  }
  5% {
    background-color: rgb(254, 249, 206);
    top: 5;
  }
  10% {
    background-color: rgb(254, 249, 206);
    top: 10;
  }
  15% {
    background-color: rgb(254, 249, 206);
    top: 15;
  }
  20% {
    background-color: rgb(254, 249, 206);
    top: 20;
  }
  25% {
    background-color: rgb(254, 249, 206);
    top: 25;
  }
  30% {
    background-color: rgb(254, 249, 206);
    top: 30;
  }
  35% {
    background-color: rgb(254, 249, 206);
    top: 35;
  }
  40% {
    background-color: rgb(254, 249, 206);
    top: 40;
  }
  45% {
    background-color: rgb(254, 249, 206);
    top: 45;
  }
  50% {
    background-color: rgb(254, 249, 206);
    top: 50;
  }
  55% {
    background-color: rgb(254, 249, 206);
    top: 55;
  }
  60% {
    background-color: rgb(254, 249, 206);
    top: 60;
  }
  65% {
    background-color: rgb(254, 249, 206);
    top: 65;
  }
  70% {
    background-color: rgb(254, 249, 206);
    top: 70;
  }
  75% {
    background-color: rgb(254, 249, 206);
    top: 75;
  }
  80% {
    background-color: rgb(254, 249, 206);
    top: 80;
  }
  85% {
    background-color: rgb(254, 249, 206);
    top: 85;
  }
  90% {
    background-color: rgb(254, 249, 206);
    top: 90;
  }
  95% {
    background-color: rgb(254, 249, 206);
    top: 95;
  }
  100% {
    background-color: rgb(254, 249, 206);
    top: 100;
  }
}
@keyframes SlideDown {
  0% {
    background-color: rgb(254, 249, 206);
    top: 0%;
  }
  5% {
    background-color: rgb(254, 249, 206);
    top: 5;
  }
  10% {
    background-color: rgb(254, 249, 206);
    top: 10;
  }
  15% {
    background-color: rgb(254, 249, 206);
    top: 15;
  }
  20% {
    background-color: rgb(254, 249, 206);
    top: 20;
  }
  25% {
    background-color: rgb(254, 249, 206);
    top: 25;
  }
  30% {
    background-color: rgb(254, 249, 206);
    top: 30;
  }
  35% {
    background-color: rgb(254, 249, 206);
    top: 35;
  }
  40% {
    background-color: rgb(254, 249, 206);
    top: 40;
  }
  45% {
    background-color: rgb(254, 249, 206);
    top: 45;
  }
  50% {
    background-color: rgb(254, 249, 206);
    top: 50;
  }
  55% {
    background-color: rgb(254, 249, 206);
    top: 55;
  }
  60% {
    background-color: rgb(254, 249, 206);
    top: 60;
  }
  65% {
    background-color: rgb(254, 249, 206);
    top: 65;
  }
  70% {
    background-color: rgb(254, 249, 206);
    top: 70;
  }
  75% {
    background-color: rgb(254, 249, 206);
    top: 75;
  }
  80% {
    background-color: rgb(254, 249, 206);
    top: 80;
  }
  85% {
    background-color: rgb(254, 249, 206);
    top: 85;
  }
  90% {
    background-color: rgb(254, 249, 206);
    top: 90;
  }
  95% {
    background-color: rgb(254, 249, 206);
    top: 95;
  }
  100% {
    background-color: rgb(254, 249, 206);
    top: 100;
  }
}
.matchesTab {
  width: 100%;
  background: red;
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.matchesTab .splide__arrows {
  margin: 10px;
}
.matchesTab .splide__arrows .splide__arrow--next {
  right: 0;
}
.matchesTab .splide__arrows .splide__arrow--prev {
  left: 0;
}
.matchesTab .matchList {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}
.matchesTab .matchContainer {
  width: 105%;
}
.matchesTab .championsMatch {
  box-shadow: 1px 1px 15px -4px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 1px 1px 15px -4px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 1px 1px 15px -4px rgba(0, 0, 0, 0.48);
  width: 80%;
  display: grid;
  grid-template-columns: 34% 66%;
  height: 35px;
  grid-template-rows: 100%;
}
.matchesTab .championsMatch .time, .matchesTab .championsMatch .pl-match .extra-time, .matchesTab .pl-match .championsMatch .extra-time {
  height: 35px;
  position: relative;
  background: white;
  color: #00004b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.matchesTab .championsMatch .time span, .matchesTab .championsMatch .pl-match .extra-time span, .matchesTab .pl-match .championsMatch .extra-time span {
  padding: 0 4px;
  padding-bottom: 3.5px;
  font-size: 1.4vw;
  line-height: 1.4vw;
}
.matchesTab .championsMatch .time img, .matchesTab .championsMatch .pl-match .extra-time img, .matchesTab .pl-match .championsMatch .extra-time img {
  width: 1.3vw;
}
.matchesTab .championsMatch .scoreMatch {
  position: relative;
  border-width: 4px;
  -o-border-image: linear-gradient(90deg, rgb(28, 85, 232) 0%, rgb(89, 231, 206) 100%);
     border-image: linear-gradient(90deg, rgb(28, 85, 232) 0%, rgb(89, 231, 206) 100%);
  font-size: 1.4vw;
  line-height: 1.4vw;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #1a2f67;
}
.matchesTab .championsMatch .scoreMatch:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 96%;
  left: 0;
  width: 100%;
  background: linear-gradient(to right, #1c55e8, #59e7ce);
}
.matchesTab .championsMatch .scoreMatch .score {
  padding-bottom: 3.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.matchesTab .championsMatch .scoreMatch .teamDetailLeft {
  border-left: 3px #0d3aff solid;
  display: grid;
  grid-template-columns: 78% 22%;
}
.matchesTab .championsMatch .scoreMatch .teamDetailLeft .nameHome {
  padding: 0px 6px;
  position: relative;
  display: flex;
  align-items: center;
  background: #0d3aff;
  -webkit-clip-path: polygon(80% 0, 100% 38%, 82% 100%, 0 100%, 0 0);
          clip-path: polygon(80% 0, 100% 38%, 82% 100%, 0 100%, 0 0);
  shape-outside: polygon(80% 0, 100% 38%, 82% 100%, 0 100%, 0 0);
}
.matchesTab .championsMatch .scoreMatch .teamDetailLeft .nameHome:after {
  position: absolute;
  background: rgb(52, 60, 141);
  background: linear-gradient(90deg, rgb(52, 60, 141) 0%, rgb(61, 96, 251) 100%);
  content: "";
  right: 6px;
  z-index: -1;
  left: 0px;
  top: 0px;
  bottom: 0px;
  -webkit-clip-path: polygon(80% 0, 100% 38%, 82% 100%, 0 100%, 0 0);
          clip-path: polygon(80% 0, 100% 38%, 82% 100%, 0 100%, 0 0);
}
.matchesTab .championsMatch .scoreMatch .teamDetailLeft .nameHome p {
  padding-bottom: 3.5px;
}
.matchesTab .championsMatch .scoreMatch .teamDetailLeft .score:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 95%;
  right: 0;
  background: rgb(26, 47, 106);
  background: linear-gradient(0deg, rgb(26, 47, 106) 0%, rgb(21, 62, 216) 50%, rgb(26, 47, 106) 100%);
}
.matchesTab .championsMatch .scoreMatch .teamDetailRight {
  border-right: 3px #0d3aff solid;
  display: grid;
  grid-template-columns: 22% 78%;
}
.matchesTab .championsMatch .scoreMatch .teamDetailRight .nameAway {
  padding: 0px 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: right;
  background: #0d3aff;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 18% 100%, 0 38%, 20% 0);
          clip-path: polygon(100% 0, 100% 100%, 18% 100%, 0 38%, 20% 0);
}
.matchesTab .championsMatch .scoreMatch .teamDetailRight .nameAway:after {
  position: absolute;
  background: rgb(52, 60, 141);
  background: linear-gradient(270deg, rgb(52, 60, 141) 0%, rgb(61, 96, 251) 100%);
  content: "";
  right: 0px;
  z-index: -1;
  left: 6px;
  top: 0px;
  bottom: 0px;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 18% 100%, 0 38%, 20% 0);
          clip-path: polygon(100% 0, 100% 100%, 18% 100%, 0 38%, 20% 0);
}
.matchesTab .championsMatch .scoreMatch .teamDetailRight .nameAway p {
  padding-bottom: 3.5px;
}
.matchesTab .championsMatch .scoreMatch .teamDetailRight .score:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0%;
  right: 95%;
  background: rgb(26, 47, 106);
  background: linear-gradient(0deg, rgb(26, 47, 106) 0%, rgb(21, 62, 216) 50%, rgb(26, 47, 106) 100%);
}
.matchesTab .pl-match {
  font-family: PremierSans-Regular;
  position: relative;
  display: flex;
  -webkit-animation: showScoreboard 2s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation: showScoreboard 2s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  padding-bottom: 3px;
}
.matchesTab .pl-match .team {
  position: relative;
  width: 102px;
  height: 38px;
  background-color: #34003a;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.matchesTab .pl-match .team .color {
  position: absolute;
  width: 6px;
  height: 100%;
  top: 0;
}
.matchesTab .pl-match .team .name {
  color: #fff;
  font-size: 1.6em;
  top: -1px;
  position: relative;
}
.matchesTab .pl-match .team.home .color {
  left: 0;
  background-color: #C8102E;
}
.matchesTab .pl-match .team.away .color {
  right: 0;
  background-color: #1B449C;
}
.matchesTab .pl-match .logo {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}
.matchesTab .pl-match .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.matchesTab .pl-match .goals {
  width: 102px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00fc8a;
  color: #34003a;
  font-size: 1.6em;
  font-weight: 700;
  z-index: 2;
}
.matchesTab .pl-match .goals .goal,
.matchesTab .pl-match .goals .divider {
  position: relative;
  top: -1px;
}
.matchesTab .pl-match .goals .divider {
  margin: 0 2px;
  display: inline-block;
  position: relative;
  top: -2px;
}
.matchesTab .pl-match .time, .matchesTab .pl-match .extra-time {
  position: absolute;
  background-color: #fff;
  width: 102px;
  height: 38px;
  top: 38px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  color: #34003a;
  font-weight: 700;
  z-index: 2;
}
.matchesTab .pl-match .extra-time {
  width: 51px;
  left: calc(50% + 102px - 26px);
  z-index: 1;
  opacity: 0;
  -webkit-animation: showExtratime 1.2s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation: showExtratime 1.2s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s;
}
.matchesTab .liga-match {
  font-family: laliga;
  width: 80%;
  display: grid;
  height: 35px;
  grid-template-columns: 70% 30%;
  box-shadow: 1px 1px 15px -4px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 1px 1px 15px -4px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 1px 1px 15px -4px rgba(0, 0, 0, 0.48);
}
.matchesTab .liga-match .time, .matchesTab .liga-match .pl-match .extra-time, .matchesTab .pl-match .liga-match .extra-time {
  color: black;
  font-size: 1.4vw;
  text-align: center;
  align-items: center;
  background: white;
  -webkit-clip-path: polygon(11% 0%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(11% 0%, 100% 0, 100% 100%, 0% 100%);
  margin-left: -8px;
}
.matchesTab .liga-match .score {
  font-size: 1.4vw;
  display: grid;
  grid-template-columns: 38% 10% 2% 10% 38%;
  justify-items: center;
  align-items: center;
  z-index: 99;
  position: relative;
  background: white;
  -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
}
.matchesTab .liga-match .score:after {
  z-index: -1;
  position: absolute;
  content: "";
  top: 0;
  bottom: 50%;
  left: 0;
  width: 100%;
  background: rgb(73, 77, 97);
  background: linear-gradient(145deg, rgb(73, 77, 97) 0%, rgb(60, 140, 170) 100%);
}
.matchesTab .liga-match .score:before {
  z-index: -1;
  position: absolute;
  content: "";
  top: 50%;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(66, 69, 87);
  background: linear-gradient(45deg, rgb(60, 62, 79) 0%, rgb(57, 126, 155) 100%);
}
